
- if @group.owner?(current_user)
  %h2 Edit Group

  = form_for @group, url: organization_group_path(@group.organization_id, @group) do |f|
    %fieldset
      .form-group
        %label.col-lg-2.control-label{:for => "inputEmail"} Name
        .col-lg-10
          = f.text_field :name, class: 'form-control'

%br
%h2 Group Members

%table.table.table-striped.table-hover
  %tbody
    %tr
      %th No.
      %th メンバー名
      %th
    - @group_members.each.with_index(1) do |group_member, index|
      %tr
        %td= index
        %td= group_member.user.try(:name)
        %td
          - if @group.user_id != group_member.user_id and @group.owner?(current_user)
            = link_to 'グループから除外', organization_group_delete_member_path(@organization, @group, user_id: group_member.user_id), method: :delete, data: { confirm: "「#{group_member.user.try(:name)}」をメンバーから除外します。よろしいですか？" }

%br
%h2 Organization Members(Not group member)

%table.table.table-striped.table-hover
  %tbody
    %tr
      %th No.
      %th メンバー名
      %th
    - @organization_members.each.with_index(1) do |organization_member, index|
      %tr
        %td= index
        %td= organization_member.user.try(:name)
        %td
          - if @group.user_id != organization_member.user_id and @group.owner?(current_user)
            = link_to 'グループへ追加', organization_group_add_member_path(@organization, @group, user_id: organization_member.user_id), method: :post, data: { confirm: "「#{organization_member.user.try(:name)}」をメンバーに追加します。よろしいですか？" }
