
%div{ id: "page_#{current_page}" }
  %ul.pagination
    %li= link_to "今月", schedules_path(current_date: Time.now.strftime("%Y-%m-01"))
  %br
  %ul.pagination
    %li= link_to "前月", schedules_path(current_date: current_date.ago(1.month).strftime("%Y-%m-01"))
    %li= link_to "次月", schedules_path(current_date: current_date.since(1.month).strftime("%Y-%m-01"))

  %h4= current_date.strftime("%Y年%m月")
  .calendar_area
    %table.calendar
      %tr
        %th.sunday 日
        %th 月
        %th 火
        %th 水
        %th 木
        %th 金
        %th.saturday 土
      %tr
        - current_date.beginning_of_month.wday.times do
          %td
            %br
        - (current_date.beginning_of_month..current_date.end_of_month).each do |day|
          - if day.wday == 0
            %tr
          %td{ class: "#{day_class(day)} #{today_class(day)}" }
            - # 日付表示
            -# = link_to day.day, new_schedule_path(date: day), data: { toggle: 'tooltip', title: HolidayJapan.name(day) }
            = link_to day.day, '#', rel: 'tooltip', data: { toggle: 'modal', title: HolidayJapan.name(day), target: "#new_modal_#{day.strftime("%Y_%m_%d")}" }

            - # スケジュール新規作成モーダル
            -# = link_to 'New Schedule', '#', data: { toggle: 'modal', target: "#new_modal_#{day.strftime("%Y_%m_%d")}" }
            = render partial: '/schedules/new_schedule_modal', locals: { schedule: Schedule.new, day: day }

            %br
            - schedule = schedule_hash[day.strftime("%Y_%m_%d")]
            - if schedule.present?
              - schedule.each do |s|
                - # スケジュール表示
                -# - popover_title = day_title(s) (s.start_at.present? ? s.start_at.strftime("%H:%M") : '') + "〜" + (s.end_at.present? ? s.end_at.strftime("%H:%M") : '')
                -# = link_to s.title, edit_schedule_path(s), data: { toggle: 'popover', title: popover_title, content: markdown(s.note) }
                %span{ style: 'color: #000;' }= link_to s.title, edit_schedule_path(s), data: { toggle: 'popover', title: schedule_popover_title(s), content: markdown(s.note) }
                %br
        - (6 - current_date.end_of_month.wday).times do
          %td
            %br
  %br
