
.form-group
  = f.label :title, class: 'col-lg-2 control-label'
  .col-lg-10
    = f.text_field :title, class: 'form-control'
.form-group
  = f.label :note, class: 'col-lg-2 control-label'
  .col-lg-10
    = f.text_area :note, rows: 10, class: 'form-control'
.form-group
  = f.label :start_at, class: 'col-lg-2 control-label'
  .col-lg-10
    = f.datetime_select :start_at, { class: 'form-control', minute_step: 5, use_month_numbers: true, date_separator: ' ', datetime_separator: '　', time_separator: ' : ', default: day }
.form-group
  = f.label :end_at, class: 'col-lg-2 control-label'
  .col-lg-10
    = f.datetime_select :end_at, { class: 'form-control', minute_step: 5, use_month_numbers: true, date_separator: ' ', datetime_separator: '　', time_separator: ' : ', default: day }

参加グループ：
- organization.groups.each do |group|
  %li
    = check_box_tag 'group_ids[]', group.id, f.object.group_ids.index(group.id), id: "#{day.strftime("%Y_%m%d")}_#{f.object.id.to_i}_group_#{group.id}"
    = label_tag("#{day.strftime("%Y_%m%d")}_#{f.object.id.to_i}_group_#{group.id}", group.name)
