= form_for @schedule do |f|
  - if @schedule.errors.any?
    #error_explanation
      %h2= "#{pluralize(@schedule.errors.count, "error")} prohibited this schedule from being saved:"
      %ul
        - @schedule.errors.full_messages.each do |msg|
          %li= msg

  -# .field
  -#   = f.label :user
  -#   = f.text_field :user
  -# .field
  -#   = f.label :organization
  -#   = f.text_field :organization
  -# .field
  -#   = f.label :group
  -#   = f.text_field :group
  -# .field
  -#   = f.label :repeat_setting
  -#   = f.text_field :repeat_setting
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :note
    = f.text_area :note
  .field
    = f.label :start_at
    = f.datetime_select :start_at
  .field
    = f.label :end_at
    = f.datetime_select :end_at
  .actions
    = f.submit 'Save'
